body{
    background-color: rgb(43, 44, 44);
}

  .main {
    margin-left: 80px; 
    font-size: 16px; 
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

