
.home {

    position: fixed;
    bottom: 85%;
}


.home {
    float: left;
    color: aliceblue;
    text-align: center;
    padding: 10px 12px;
    font-size: 16px;
}

.home {
    background-color: rgb(29, 65, 35);
    margin-left: -20px;
    width: 90px;
    border-radius: 12px;
}

.home:hover {
    border: 1px;
    border-color: aliceblue;
    border-style: solid;
    width: 105px;
}